flows.json
[{"id":"f5c55718.3eb858","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"efabfc2b.278c9","type":"ui_form","z":"f5c55718.3eb858","name":"","label":"","group":"fe51d093.03435","order":1,"width":"14","height":"4","options":[{"label":"news","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["4c305750.87f648"]]},{"id":"4c305750.87f648","type":"function","z":"f5c55718.3eb858","name":"Query processing","func":"msg={\ndiscoveryparams:\n  {\n\"environment_id\":\"system\",\n\"query\":msg.payload.Input\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":320,"wires":[["8f541706.03da88"]]},{"id":"41add1c5.2aa92","type":"function","z":"f5c55718.3eb858","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["b9e4b8ee.804e28"]]},{"id":"8f541706.03da88","type":"watson-discovery-v1","z":"f5c55718.3eb858","name":"news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"term(enriched_text.sentiment.document.label,count:10)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/dac269a2-e82c-44ab-8171-1a8781d7cf52","x":250,"y":400,"wires":[["41add1c5.2aa92","b4b6d6b5.a2f028","b476d867.415b18","57f9cac3.3b02e4","d63646a4.1ebb08","33baa5a2.b7d60a","a4d50c55.802d8"]]},{"id":"b9e4b8ee.804e28","type":"ui_text","z":"f5c55718.3eb858","group":"fe51d093.03435","order":5,"width":"14","height":"2","name":"","label":"search result","format":"{{msg.payload}}","layout":"col-center","x":690,"y":280,"wires":[]},{"id":"57f9cac3.3b02e4","type":"function","z":"f5c55718.3eb858","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["6915eae0.79c2c4"]]},{"id":"b4b6d6b5.a2f028","type":"function","z":"f5c55718.3eb858","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":320,"wires":[["a7c3983c.621758"]]},{"id":"33baa5a2.b7d60a","type":"function","z":"f5c55718.3eb858","name":"main page url","func":"msg.payload=msg.search_results.results[0].main_image_url\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":360,"wires":[["2f820fc3.78b2b"]]},{"id":"b476d867.415b18","type":"function","z":"f5c55718.3eb858","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":440,"wires":[["a5eb505b.af1bc"]]},{"id":"d63646a4.1ebb08","type":"function","z":"f5c55718.3eb858","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":480,"wires":[["d0d2c365.5406a"]]},{"id":"d0d2c365.5406a","type":"ui_text","z":"f5c55718.3eb858","group":"fe51d093.03435","order":8,"width":"14","height":"2","name":"","label":"label","format":"{{msg.payload}}","layout":"col-center","x":670,"y":480,"wires":[]},{"id":"6915eae0.79c2c4","type":"ui_text","z":"f5c55718.3eb858","group":"fe51d093.03435","order":4,"width":"14","height":"2","name":"","label":"url","format":"{{msg.payload}}","layout":"col-center","x":670,"y":400,"wires":[]},{"id":"a7c3983c.621758","type":"ui_text","z":"f5c55718.3eb858","group":"fe51d093.03435","order":2,"width":"14","height":"2","name":"","label":"author","format":"{{msg.payload}}","layout":"col-center","x":670,"y":320,"wires":[]},{"id":"2f820fc3.78b2b","type":"ui_text","z":"f5c55718.3eb858","group":"fe51d093.03435","order":3,"width":"14","height":"2","name":"","label":"main page url","format":"{{msg.payload}}","layout":"col-center","x":700,"y":360,"wires":[]},{"id":"a5eb505b.af1bc","type":"ui_gauge","z":"f5c55718.3eb858","name":"","group":"fe51d093.03435","order":6,"width":0,"height":0,"gtype":"gage","title":"Sentiment score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":440,"wires":[]},{"id":"ba2fc860.d375f8","type":"function","z":"f5c55718.3eb858","name":"retrival","func":"msg.payload=\n[\n    {\n        \"series\":[\"News\"],\n        \"data\":[msg.payload[0],msg.payload[1],msg.payload[2]],\n        \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":520,"wires":[["34680258.24c33e"]]},{"id":"34680258.24c33e","type":"ui_chart","z":"f5c55718.3eb858","name":"","group":"fe51d093.03435","order":8,"width":"12","height":"9","label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":520,"wires":[[]]},{"id":"a4d50c55.802d8","type":"function","z":"f5c55718.3eb858","name":"sentiment","func":"var val=[msg.search_results.aggregations[0].results[0].matching_results];\nval.push(msg.search_results.aggregations[0].results[1].matching_results);\nval.push(msg.search_results.aggregations[0].results[2].matching_results);\nmsg.payload=val;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":520,"wires":[["ba2fc860.d375f8"]]},{"id":"fe51d093.03435","type":"ui_group","z":"","name":"News seach","tab":"471cde1.8f7dc2","order":1,"disp":true,"width":"14","collapse":false},{"id":"471cde1.8f7dc2","type":"ui_tab","z":"","name":"world news","icon":"dashboard","disabled":false,"hidden":false}]